<section class="intro">
  <div class="container">
    <p class="lead">
      <center>
        <em>"Hardwork betrays none, but dreams betray many"</em> 
        <br><br>
      </center>
        One of my favorite quotes.
        They say have a dream and make it into a reality, but how can someone make it
        into reality without doing hardwork?... hardwork comes with a price. 
        All the things that you do in life, people don't care about those shits until they saw you become
        successful. 
        Sucess defines you as a person, there are many different type of success.
        Some are how many they made, some how far they can go and travel and others are about
        how they can change life of other people.

        <br><br>

        Only one thing is certain in life. It is on how you live your life everyday 
        and become happy about it.
    </p>
  </div>
</section>
